* {
  text-align: center;
}
* body {
  font-family: 'Ubuntu', sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2em;
}

h3,
h4 {
  margin: 4%;
  font-size: 1.2em;
}

h1,
h3,
h4 {
  font-weight: bold;
}

nav li {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

nav li {
  list-style: none;
  margin: 1%;
  padding: 1%;
}

.profile p {
  height: 100%;
}

.contact h3 {
  margin-top: 2%;
}

.contact ul {
  margin-bottom: 6%;
}

.contact ul li {
  list-style: none;
  margin: 2%;
  padding: 0%;
  border-radius: 5%;
}

hr {
  width: 90%;
  margin: auto;
}

footer {
  margin: 10px auto;
  padding-bottom: 10px;
  font-weight: bold;
  max-width: 90%;
}

.left {
  float: left;
  margin: 0px;
  padding-left: 4.5%;
}

.right {
  float: right;
  text-decoration: none;
  margin-right: 5px;
}

nav ul,
.contact a {
  padding: 0;
  font-weight: bold;
}

.color {
  padding-top: 2%;
}

.lower {
  margin-top: 3%;
}

.large {
  display: none;
}

body {
  background-color: rgb(243, 245, 247);
}

.portfolio {
  background-color: #fff;
}

@media (min-width: 768px) {
  nav li {
    display: inline-block;
  }

  header img {
    float: right;
    width: 49%;
    padding: 0;
  }

  .col h4 {
    padding: 2%;
  }

  .col p {
    height: 50px;
    margin-bottom: 2%;
  }

  header p {
    float: left;
    width: 49%;
    height: 100%;
    text-align: left;
  }

  .container {
    width: 90%;
    margin: 2% auto;
  }

  header .col-top {
    width: 50%;
    padding-right: 3%;
  }

  .portfolio {
    width: 90%;
    margin: 0 auto;
  }

  .col-1 {
    float: left;
    width: 48%;
    padding-left: 5px;
    display: block;
  }
  .col-2 {
    float: right;
    width: 48%;
    display: block;
  }

  img {
    padding-top: 5%;
  }

  .contact h3 {
    margin-top: 2%;
  }

  .contact p {
    margin: 0 5%;
  }

  .small {
    display: none;
  }

  .large {
    padding: 0 2%;
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1.75em;
  }

  h1 {
    float: left;
    margin-left: 5%;
  }

  nav ul {
    float: right;
    width: 50%;
  }

  .portfolio {
    width: 90%;
    margin: 0 auto;
  }

  .col p {
    height: auto;
  }

  .portfolio h4 {
    padding: 2%;
    display: block;
  }

  .row-1,
  .row-2 {
    display: inline-block;
    padding-bottom: 5%;
  }

  .first {
    width: 31%;
    float: left;
    margin-left: 1%;
  }

  .second {
    width: 31%;
    float: left;
    margin: auto;
    padding: 0% 2%;
  }

  .third {
    width: 31%;
    float: left;
    padding: 0;
  }
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
